[submodule "vendor/cloudxns/cloud-xns-api-sdk-php"]
	path = vendor/cloudxns/cloud-xns-api-sdk-php
	url = https://github.com/CloudXNS/CloudXNS-API-SDK-PHP.git
[submodule "vendor/doctrine/inflector"]
	path = vendor/doctrine/inflector
	url = https://github.com/doctrine/inflector.git
[submodule "vendor/guzzle/guzzle"]
	path = vendor/guzzle/guzzle
	url = https://github.com/guzzle/guzzle3.git
[submodule "vendor/guzzlehttp/guzzle"]
	path = vendor/guzzlehttp/guzzle
	url = https://github.com/guzzle/guzzle.git
[submodule "vendor/guzzlehttp/ringphp"]
	path = vendor/guzzlehttp/ringphp
	url = https://github.com/guzzle/RingPHP.git
[submodule "vendor/guzzlehttp/streams"]
	path = vendor/guzzlehttp/streams
	url = https://github.com/guzzle/streams.git
[submodule "vendor/illuminate/container"]
	path = vendor/illuminate/container
	url = https://github.com/illuminate/container.git
[submodule "vendor/illuminate/contracts"]
	path = vendor/illuminate/contracts
	url = https://github.com/illuminate/contracts.git
[submodule "vendor/illuminate/database"]
	path = vendor/illuminate/database
	url = https://github.com/illuminate/database.git
[submodule "vendor/illuminate/pagination"]
	path = vendor/illuminate/pagination
	url = https://github.com/illuminate/pagination.git
[submodule "vendor/ircmaxell/password-compat"]
	path = vendor/ircmaxell/password-compat
	url = https://github.com/ircmaxell/password_compat.git
[submodule "vendor/khanamiryan/qrcode-detector-decoder"]
	path = vendor/khanamiryan/qrcode-detector-decoder
	url = https://github.com/khanamiryan/php-qrcode-detector-decoder.git
[submodule "vendor/nesbot/carbon"]
	path = vendor/nesbot/carbon
	url = https://github.com/briannesbitt/Carbon.git
[submodule "vendor/pimple/pimple"]
	path = vendor/pimple/pimple
	url = https://github.com/silexphp/Pimple.git
[submodule "vendor/predis/predis"]
	path = vendor/predis/predis
	url = https://github.com/nrk/predis.git
[submodule "vendor/psr/container"]
	path = vendor/psr/container
	url = https://github.com/php-fig/container.git
[submodule "vendor/psr/http-message"]
	path = vendor/psr/http-message
	url = https://github.com/php-fig/http-message.git
[submodule "vendor/react/promise"]
	path = vendor/react/promise
	url = https://github.com/reactphp/promise.git
[submodule "vendor/slim/csrf"]
	path = vendor/slim/csrf
	url = https://github.com/slimphp/Slim-Csrf.git
[submodule "vendor/slim/slim"]
	path = vendor/slim/slim
	url = https://github.com/slimphp/Slim.git
[submodule "vendor/smarty/smarty"]
	path = vendor/smarty/smarty
	url = https://github.com/smarty-php/smarty.git
[submodule "vendor/symfony/event-dispatcher"]
	path = vendor/symfony/event-dispatcher
	url = https://github.com/symfony/event-dispatcher.git
[submodule "vendor/symfony/intl"]
	path = vendor/symfony/intl
	url = https://github.com/symfony/intl.git
[submodule "vendor/symfony/translation"]
	path = vendor/symfony/translation
	url = https://github.com/symfony/translation.git
[submodule "vendor/twig/twig"]
	path = vendor/twig/twig
	url = https://github.com/twigphp/Twig.git
[submodule "vendor/vlucas/phpdotenv"]
	path = vendor/vlucas/phpdotenv
	url = https://github.com/vlucas/phpdotenv.git
[submodule "vendor/guzzlehttp/promises"]
	path = vendor/guzzlehttp/promises
	url = https://github.com/guzzle/promises.git
